<?xml version='1.1' encoding='UTF-8'?>
<hudson>
    <disabledAdministrativeMonitors/>
    <version>2.426.3</version>
    <numExecutors>2</numExecutors>
    <mode>NORMAL</mode>
    <useSecurity>true</useSecurity>
    <securityRealm class="org.jenkinsci.plugins.oic.OicSecurityRealm" plugin="oic-auth@4.999999-SNAPSHOT">
        <clientId>client-id</clientId>
        <!-- 'secret' -->
        <clientSecret>{AQAAABAAAAAQSREHrveTM/8pApzSQ+6lTSpJhBkO/GawfTbj428hwX0=}</clientSecret>
        <userNameField>sub</userNameField>
        <disableSslVerification>false</disableSslVerification>
        <logoutFromOpenidProvider>false</logoutFromOpenidProvider>
        <escapeHatchEnabled>false</escapeHatchEnabled>
        <!-- '1234567890' -->
        <escapeHatchSecret>{AQAAABAAAABAz2c6V2hWHZV2Uc2JcjnvZgqTUuuTZ6WStcbPWDqS8x5IFoaZlFO/Q7JHqCoP8RzWFffhjOVehtaGih6+rGUD6aeZcmBQZKjJ7ExIVhU07Ok=}</escapeHatchSecret>
        <serverConfiguration class="org.jenkinsci.plugins.oic.OicServerWellKnownConfiguration">
            <wellKnownOpenIDConfigurationUrl>https://example.test</wellKnownOpenIDConfigurationUrl>
        </serverConfiguration>
        <rootURLFromRequest>false</rootURLFromRequest>
        <sendScopesInTokenRequest>false</sendScopesInTokenRequest>
        <pkceEnabled>false</pkceEnabled>
        <disableTokenVerification>false</disableTokenVerification>
        <nonceDisabled>false</nonceDisabled>
        <tokenExpirationCheckDisabled>false</tokenExpirationCheckDisabled>
        <allowTokenAccessWithoutOicSession>false</allowTokenAccessWithoutOicSession>
        <allowedTokenExpirationClockSkewSeconds>0</allowedTokenExpirationClockSkewSeconds>
    </securityRealm>
</hudson>