<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>jdoe</id>
  <fullName>J Doe</fullName>
  <properties>
    <org.jenkinsci.plugins.oic.OicAvatarProperty plugin="oic-auth@4.999999-SNAPSHOT">
      <avatarImage>
        <url>https://idp.example.com/avatar/jdoe.png</url>
      </avatarImage>
    </org.jenkinsci.plugins.oic.OicAvatarProperty>
  </properties>
</user>
